{% extends "admin/base_site.html" %}

{% block breadcrumbs %}
<div class="breadcrumbs">
  <a href="{% url 'admin:index' %}">Home</a> &rsaquo;
  <a href="{% url 'admin:accounts_user_changelist' %}">Users</a> &rsaquo;
  <a href="{% url 'admin:accounts_user_change' target.pk %}">{{ target.full_name }}</a> &rsaquo; Set password
</div>
{% endblock %}

{% block content %}
<p>Type the password for {{ target.full_name }} ({{ target.email }}). Only its hash is stored.</p>
<form method="post" novalidate>
  {% csrf_token %}
  <fieldset class="module aligned">
    {% for field in form %}
    <div class="form-row{% if field.errors %} errors{% endif %}">
      {{ field.errors }}
      {{ field.label_tag }} {{ field }}
    </div>
    {% endfor %}
  </fieldset>
  <div class="submit-row"><input type="submit" value="Set password" class="default"></div>
</form>
{% endblock %}
